/* estilos.css */
body {
    margin: 0;
    background: url(img/images.jpeg) no-repeat center;
    background-size: cover;
    font-family: 'Carter One', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

header {
    background: black;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    margin: 50px;
    color: white;
}

main {
    width: 80%;
    height: 700px;
    margin: 70px;
    padding: 190px;
    background: rgba(255,255,255,.7);
    display: flex;
    gap: 30px;
}

#imagen {
    width: 400px;
    margin-right: 300px;
}

#palabra_a_adivinar {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 150px;
}

#palabra_a_adivinar span {
    margin: 0 5px;
    margin-top: 500px;
}

#teclado {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;

}

button {
    padding: 10px;
    font-family: 'Carter One', Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 5px solid #333;
    border-radius: 10px;
    background-color: #f0f0f0;
    transition: all 0.2s;
    width: 70px;
    font-size: 20px
    ;

}



button:hover {
    background-color: #ddd;
}

button:disabled {
    background-color: pink;
    color: pink;
    cursor: not-allowed;
}

#jugar {
    background-color: pink;
    color: black;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
}

#jugar:hover {
    background-color: rgb(255, 223, 229);
}

.dos{
    width: 500px;
}
